html,
body,
#app {
  margin: 0px;
  height: 100%;
  overflow: hidden;
}
canvas {
  display: block;
  height: 100%;
}
#container {
  position: relative;
}
#controls {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 60px;
  width: 60px;
}
